body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    padding: 5px 20px;
    color: #fff;
    background-color: #04a6eb;
    border: 3px solid #fff;
    border-radius: 6px;
}

input {
    height: 24px;
    border: 0;
    margin-right: 4px;
    border-radius: 4px;
    border: 2px solid #fff;
}
